body { background: #cf1008; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 44px; display: flex; }
.block-product-0 { color: #a7293b; font-size: 15px; margin-bottom: 5px; }
.block-uploader-1 { color: #9ad07; font-size: 12px; margin-bottom: 5px; }
.block-database-2 { color: #83e837; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #ebac48; font-size: 18px; margin-bottom: 5px; }
.block-uploader-4 { color: #a8fea4; font-size: 18px; margin-bottom: 5px; }
.block-database-5 { color: #e4a47b; font-size: 17px; margin-bottom: 5px; }
.block-helper-6 { color: #62dc78; font-size: 17px; margin-bottom: 5px; }
.block-user-7 { color: #245ab3; font-size: 13px; margin-bottom: 5px; }